In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
source = "data/facebook/" #try reading from gzip file

# Reading all *.edges files in dataframes.  
files = [f for f in os.listdir(source) if f.endswith(".edges")]
#fs = files[:2] # remove this later just for testing. 
df = pd.DataFrame()
for f in files:
    with open(source+f,'r') as fopen:
        temp = pd.read_csv(fopen,sep=" ",header=None)
        fopen.close()
        df = pd.concat([temp,df])
df.columns = ['node0','node1']
df.head()

   node0  node1
0    881    858
1    828    697
2    884    864
3    856    869
4    889    856

In [3]:
df.info()
with open("data/facebook_combined.txt",'r') as fopen:
    df_comb = pd.read_csv(fopen,sep=" ",header=None)
    fopen.close()
df_comb.columns = df.columns
df = pd.concat([df,df_comb])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170174 entries, 0 to 5037
Data columns (total 2 columns):
node0    170174 non-null int64
node1    170174 non-null int64
dtypes: int64(2)
memory usage: 3.9 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 258408 entries, 0 to 88233
Data columns (total 2 columns):
node0    258408 non-null int64
node1    258408 non-null int64
dtypes: int64(2)
memory usage: 5.9 MB

In [4]:
total_samples = 4000
df_filtered = df[(df['node0']<=total_samples) & (df['node1']<=total_samples)] 
df_filtered.info()
#df_filtered.to_csv("data/dataset/facebook_edges.csv",index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 258004 entries, 0 to 88164
Data columns (total 2 columns):
node0    258004 non-null int64
node1    258004 non-null int64
dtypes: int64(2)
memory usage: 5.9 MB

In [5]:
#### Creating dataset for uder details 
source_path = "data/pseudo_facebook.csv"
det_df = pd.read_csv(source_path,sep=',',header=0)
total = 2000
#det_df['viable_candidate'] = [random.randint(0,1) for i in det_df.index]
#det_df.head()
cols = ['age','dob_day','dob_year', 'dob_month','gender','tenure','friend_count','friendships_initiated','likes','likes_received','mobile_likes','mobile_likes_received','www_likes','www_likes_received']
sample_df = det_df.sample(n=total,replace=False,axis=0)
sample_df = sample_df.reset_index()
sample_df.to_csv("data/dataset/facebook_info_{}.csv".format(total),index=True,columns=cols)

sample_df.head()

,index,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
0,1803,1519123,24,17,1989,3,male,168.0,0,0,2,0,2,0,0,0
1,22227,2083623,66,8,1947,9,female,615.0,27,15,34,13,0,8,34,5
2,88448,1284996,16,15,1997,4,female,21.0,425,26,22,193,22,142,0,51
3,2168,1161005,20,1,1993,2,male,386.0,1,0,0,0,0,0,0,0
4,14693,2112499,72,6,1941,12,male,32.0,16,14,0,0,0,0,0,0

In [ ]:
!pip install fastparquet
#sample_df['viable_candidate'].sum()

In [8]:
sample_df.to_parquet("data/dataset/facebook_info.gzip",compression='gzip',index=True,partition_cols = cols)

ImportError: Unable to find a usable engine; tried using: 'pyarrow', 'fastparquet'.
pyarrow or fastparquet is required for parquet support

In [8]:
### separate for training and test dataset 
l = "age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received"
l.split(',')

['age',
 'dob_day',
 'dob_year',
 'dob_month',
 'gender',
 'tenure',
 'friend_count',
 'friendships_initiated',
 'likes',
 'likes_received',
 'mobile_likes',
 'mobile_likes_received',
 'www_likes',
 'www_likes_received']