In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
source = "data/facebook/" #try reading from gzip file

# Reading all *.edges files in dataframes.  
files = [f for f in os.listdir(source) if f.endswith(".edges")]
#fs = files[:2] # remove this later just for testing. 
df = pd.DataFrame()
for f in files:
    with open(source+f,'r') as fopen:
        temp = pd.read_csv(fopen,sep=" ",header=None)
        fopen.close()
        df = pd.concat([temp,df])
df.columns = ['node0','node1']
df.head()

   node0  node1
0    881    858
1    828    697
2    884    864
3    856    869
4    889    856

In [3]:
df.info()
with open("data/facebook_combined.txt",'r') as fopen:
    df_comb = pd.read_csv(fopen,sep=" ",header=None)
    fopen.close()
df_comb.columns = df.columns
df = pd.concat([df,df_comb])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170174 entries, 0 to 5037
Data columns (total 2 columns):
node0    170174 non-null int64
node1    170174 non-null int64
dtypes: int64(2)
memory usage: 3.9 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 258408 entries, 0 to 88233
Data columns (total 2 columns):
node0    258408 non-null int64
node1    258408 non-null int64
dtypes: int64(2)
memory usage: 5.9 MB

In [4]:
total_samples = 4000
df_filtered = df[(df['node0']<=total_samples) & (df['node1']<=total_samples)] 
df_filtered.info()
#df_filtered.to_csv("data/dataset/facebook_edges.csv",index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 258004 entries, 0 to 88164
Data columns (total 2 columns):
node0    258004 non-null int64
node1    258004 non-null int64
dtypes: int64(2)
memory usage: 5.9 MB

In [21]:
#### Creating dataset for uder details 
source_path = "data/pseudo_facebook_final.csv"
det_df = pd.read_csv(source_path,sep=',',header=0)
total = 500
#det_df['viable_candidate'] = [random.randint(0,1) for i in det_df.index]
#det_df.head()
cols = ['age','gender','tenure','friend_count','friendships_initiated','likes','likes_received','mobile_likes','mobile_likes_received','www_likes','www_likes_received']
sample_df = det_df.sample(n=total,replace=False,axis=0)
sample_df = sample_df.reset_index()
sample_df.to_csv("data/dataset/facebook_info_{}.csv".format(total),index=True,columns=cols)

sample_df.head()

,index,age,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
0,65314,46,male,1569.0,146,69,1,0,0,0,1,0
1,32528,29,male,705.0,44,10,0,0,0,0,0,0
2,46197,16,female,528.0,72,29,326,12,326,11,0,1
3,62214,15,male,425.0,133,105,0,0,0,0,0,0
4,53772,43,female,303.0,96,51,18,49,0,17,18,32

In [22]:
#sample_df.to_parquet("data/dataset/facebook_info.gzip",compression='gzip',partition_cols = cols)
sample_df.to_parquet("data/dataset/facebook_info.parquet")

In [8]:
### separate for training and test dataset 
l = "age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received"
l.split(',')

['age',
 'dob_day',
 'dob_year',
 'dob_month',
 'gender',
 'tenure',
 'friend_count',
 'friendships_initiated',
 'likes',
 'likes_received',
 'mobile_likes',
 'mobile_likes_received',
 'www_likes',
 'www_likes_received']