In [2]:
import os
import numpy as np
import pandas as pd

In [14]:
source = "data/facebook/" #try reading from gzip file

# Reading all *.edges files in dataframes.  
files = [f for f in os.listdir(source) if f.endswith(".edges")]
#fs = files[:2] # remove this later just for testing. 
df = pd.DataFrame()
for f in files:
    with open(source+f,'r') as fopen:
        temp = pd.read_csv(fopen,sep=" ",header=None)
        fopen.close()
        df = pd.concat([temp,df])
df.columns = ['node0','node1']
df.head()

   node0  node1
0    881    858
1    828    697
2    884    864
3    856    869
4    889    856

In [63]:
df.info()
with open("data/facebook_combined.txt",'r') as fopen:
    df_comb = pd.read_csv(fopen,sep=" ",header=None)
    fopen.close()
df_comb.columns = df.columns
df = pd.concat([df,df_comb])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170174 entries, 0 to 5037
Data columns (total 2 columns):
node0    170174 non-null int64
node1    170174 non-null int64
dtypes: int64(2)
memory usage: 3.9 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 258408 entries, 0 to 88233
Data columns (total 2 columns):
node0    258408 non-null int64
node1    258408 non-null int64
dtypes: int64(2)
memory usage: 5.9 MB

In [67]:
total_samples = 2000
df_filtered = df[(df['node0']<=total_samples) & (df['node1']<=total_samples)] 
df_filtered.info()
df_filtered.to_csv("data/edges_combined.csv",index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110755 entries, 0 to 45346
Data columns (total 2 columns):
node0    110755 non-null int64
node1    110755 non-null int64
dtypes: int64(2)
memory usage: 2.5 MB

In [70]:
#### Creating dataset for uder details 
source_path = "data/pseudo_facebook.csv"
det_df = pd.read_csv(source_path,sep=',',header=0)
det_df['viable_candidate'] = [random.randint(0,1) for i in det_df.index]
#det_df.head()
sample_df = det_df.sample(n=total_samples,replace=False,axis=0)
sample_df = sample_df.reset_index()
sample_df.to_csv("data/filtered_facebook_{}.csv".format(total_samples),index=True)
sample_df.head()

,index,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received,viable_candidate
0,53460,1576816,21,5,1992,4,female,603.0,95,18,2,3,2,2,0,1,1
1,276,1908036,19,5,1994,4,male,2.0,0,0,0,0,0,0,0,0,0
2,53436,1710170,14,5,1999,2,male,82.0,96,88,2,0,2,0,0,0,1
3,59694,2015007,17,26,1996,7,male,224.0,117,96,12,7,12,7,0,0,0
4,66082,1189104,20,26,1993,7,male,90.0,148,132,247,25,243,15,4,10,1

In [71]:
sample_df['viable_candidate'].sum()

1020

In [ ]:
### separate for training and test dataset